{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Сервис привычек">
    <meta name="author" content="Александр Струльков">
    <title></title>
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">

    <style>
        body {
            background-size: 100vh;
            margin: 0;
            background: radial-gradient(circle, #ffffff, #f5f8fb, #f1f5fb, #eaeafb)
        }

        .high-text {
            font-size: 150%;
            font-style: italic;
        }

        {#.start-text {#}
        {#    color: #07072e;#}
        {#    text-indent: 1.5em;#}
        {#    margin-top: 0.83em;#}
        {#    text-align: justify#}
        {#}#}

        .hellow {
            text-align: center
        }

        h3 {
            margin: 01px;
            font-family: "Paytone One", cursive;
            color: #5b5bef;
            text-transform: none;
            letter-spacing: -1px;
        }

        h3 span {
            display: block;
            margin: 11px 0 17px 0;
            font-size: 30px;
            line-height: 30px;
            color: #000000;
            text-shadow: 0 1.36px 4.896px #1e1d1d, 0 -1px 4px #ffffff;
            letter-spacing: -1px;
        }

        h4 {
            margin: 20px;
            font-family: "Paytone One", cursive;
            color: #202020;
            text-transform: none;
            letter-spacing: -1px;
        }

        h4 span {
            display: block;
            margin: 11px 0 17px 5px;
            font-size: 35px;
            line-height: 40px;
            color: #21217f;
            text-shadow: 0 7.36px 8.896px #8e8ef3, 0 -2px 1px #f3f3fa;
            letter-spacing: -1px;
        }

        h2 {
            margin: 20px;
            font-family: "Paytone One", cursive;
            color: #202020;
            text-transform: none;
            letter-spacing: -1px;
        }

        h2 span {
            display: block;
            margin: 11px 0 17px 5px;
            font-size: 35px;
            line-height: 40px;
            color: #21217f;
            text-shadow: 0 7.36px 8.896px #8e8ef3, 0 -2px 1px #f3f3fa;
            letter-spacing: -1px;
        }

        .card_imad {
            background-size: 100vh;
            margin: 0;
            background: radial-gradient(circle, #b8daf8, #cfe5f8, #f3f3fb, #f3f3fb);
            color: #21217f;
            text-shadow: 0 7.36px 8.896px #8e8ef3, 0 -2px 1px #f3f3fa;
            letter-spacing: -1px;
        }

        .card_table {
            background-size: 100vh;
            margin: 0;
        {#background: radial-gradient(circle, #ffffff, #eceff8, #edf2fd, #cdd8f6);#} color: #21217f;
            text-shadow: 0 5.36px 4.896px #8e8ef3, 0 -2px 1px #f3f3fa;
            letter-spacing: -0.5px;
        }

        .anon {
            background-size: 100vh;
            font-family: "Paytone One", cursive;
            margin: 0;
        {#background: radial-gradient(circle, #ffffff, #eceff8, #edf2fd, #cdd8f6);#} color: #f10303;
            text-shadow: 0 7.36px 8.896px #4141f1, 0 -2px 1px #f9f9fb;
            letter-spacing: -1px;
        }

        .zoom-effect {
            transform: scale(1.2);
        }

        {#.face-image {#}
        {#    width: 206px;#}
        {#    height: 268px;#}
        {#background: url(img/face.png); margin: 0 100px 0 100px;#}

        .text-center {

        }

        .blurred-block {
            display: flex;
            width: 48px;
            height: 100px;
            background: rgba(119, 119, 255, 0.5);
            backdrop-filter: blur(200px);

            border-radius: 20px;
            margin: 30px 0 0 152px;
        }

        .scale {
            transition: 1s; /* Время эффекта */
        }

        .scale:hover {
            transform: scale(1.6); /* Увеличиваем масштаб */
        }

        .elem {
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(to right, rgb(119, 119, 255), rgba(238, 238, 251, 0.7));
        }
    </style>
</head>
<body>
{% include 'habit_app/includes/inc_navbar.html' %}
{% block content %}
    {#    Сюда вставляются все остальные файлы HTML#}
{% endblock %}
<div class='container'>
    <footer>
        {% include 'habit_app/includes/inc_footer.html' %}
    </footer>
</div>
<script src={% static "js/bootstrap.bundle.min.js" %}></script>
</body>
</html>
