{% extends 'habit_app/base.html' %}
{% block content %}
    <div class="container">
        <form method="post" action="" class="form-signin">
            <div class="row text-start mx-auto mt-4">
                <div class="col-sm">
                </div>
                <div class="col-sm card mb-4 box-shadow card_imad"
                     Style="border-color:#7777ff;">
                    <div class="text-center">
                        <h4 class="my-0 font-weight-normal">
                            Хотите отменить привычку?
                        </h4>
                        <h3>---{{ object.action }}---</h3>
                    </div>
                    <div class="card-body text-center">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Подтвердить
                        </button>
                        <a href="{% url 'habit_app:options_list' %}"
                           class="btn btn-warning">Отмена
                        </a>
                    </div>
                </div>
                <div class="col-sm">
                </div>
            </div>
        </form>
    </div>
{% endblock %}