{% extends 'habit_app/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container">
        <form method="post" action="" class="form-signin" enctype="multipart/form-data">
            <div class="row text-start">
                <div class="col-md-12">
                    <div class="card mb-4 box-shadow" Style="border-color:#7777ff">
                        <div class="card-header">
                            <h4 class="my-0 font-weight-normal">
                                {% if object %}
                                    Редактировать
                                {% else %}
                                    Отправить
                                {% endif %}
                            </h4>
                        </div>
                        <div class="card-body">
                            {% csrf_token %}
                            {% crispy form %}
                            <button type="submit" class="btn btn-lg btn-block btn-outline-primary">
                                {% if object %}
                                    Сохранить
                                {% else %}
                                    Отправить
                                {% endif %}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}