{% extends 'habit_app/base.html' %}
{% block content %}
    <div class="container">
        <form method="post" action="" class="">
            <div class="row text-start mx-auto mt-4" >
                <div class="col-sm">
                </div>
                <div class="col-sm card mb-4 box-shadow card_imad" Style="border-color:#7777ff;">
                    <div class="text-center">
                        <h4 class="my-0 font-weight-normal">
                            {% if object %}
                                Редактировать привычку
                            {% else %}
                                Создать привычку
                            {% endif %}
                        </h4>
                    </div>
                    <div class="card-body">
                    {% load crispy_forms_tags %}
                        {% csrf_token %}
                        {% crispy form %}
                        <button type="submit" class="btn btn-outline-light btn-md mx-2"
                                style="background-color: #7777ff;">
                            {% if object %}
                                Сохранить
                            {% else %}
                                Отправить
                            {% endif %}
                        </button>
                    </div>
                </div>
                <div class="col-sm">
                </div>
            </div>
        </form>
    </div>
{% endblock %}