{% extends 'habit_app/base.html' %}
{% block content %}
    <div class="container">
        <div class="row text-start mx-auto mt-4">
            <div class="col-sm">
            </div>
            <div class="col-sm card mb-4 box-shadow card_table" Style="border-color:#7777ff;">
                <div class="text-center">
                    <table class="table text-center">
                        <thead>
                        <tr>
{#                            <th>Тип привычки</th>#}
                            <th>Время</th>
                            <th>Действие</th>
{#                            <th>Периодичность</th>#}
                            <th>Изменить</th>
                            <th>Удалить</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for object in object_list %}
                            <tr>
{#                                <td>{{ object.name }}</td>#}
                                <td>{{ object.time_when_execute }}</td>
                                <td>{{ object.action }}</td>
{#                                <td>{{ object.periodicity }}</td>#}
                                <td><a class="btn btn-link"
                                       href="{% url 'habit_app:options_update' object.pk %}">ok</a></td>
                                <td><a class="btn btn-link"
                                       href="{% url 'habit_app:options_delete' object.pk %}">ok</a></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col">
            </div>
        </div>
    </div>
{% endblock %}
