{% extends 'habit_app/base.html' %}
{% load static %}
{% block content %}
    <div class="container" xmlns="http://www.w3.org/1999/html">
        <div class='start-text mt-4'><img src={% static "images/jumar14.jpg" %}
                                           width="400"
                                   height="240"
                                   alt="Изображение"
                                   align="right"
                                   vspace="8"
                                   hspace="5"
                                   class="scale">
            <p align="justify"><big><i><big>Может ли одна монетка сделать человека богатым?</big><br/>Конечно, нет, скажете вы.
                Но если добавить еще одну? И еще? И еще? В какой-то момент количество перейдет в качество.
                А теперь представьте, что одно крошечное изменение кардинально меняет всю жизнь.<br/>
                <big>Звучит фантастически!</big><br/> Но, как и в случае с монетками, срабатывает
                эффект сложного процента. И вот уже маленькое, но регулярное действие привело к
                большим результатам.<br/><big>Атомные привычки – </big>маленькие изменения, в которых скрыта огромная мощь!
                Вы давно пытаетесь измениться, но не получается. Не корите себя! Виноваты не вы,<big> а система.</big>
                Джеймс Клир развенчивает мифы о привычках, мотивации и силе воли. Опираясь на научные данные,
                результаты исследований, личный опыт и опыт успешных людей, он просто и понятно объясняет,
                как сделать хорошие привычки неизбежными, а вредные – невозможными.<big> Без вариантов!</big>
            </i></big><br/><br/></p>
        </div>
        <br>
        <div class="col-12">
            <div class="text-center">
                <h2 class="card_imad">
                    Вас приветствует сервис 'Трекер полезных привычек'!
                </h2>
            </div>
        </div>

        <br>
        <h4><i>*
            Создайте свою привычку и сообщение в телеграм боте будет напоминать вам о ее выполнении.
        </i></h4>
        <h4><i>*
            Указывается периодичность выполнения привычки в днях, варианты:
        </i></h4>
        <h4><i>-
            Ежедневно '1'
        </i></h4>
        <h4><i>-
            Каждые два дня (пн, ср, пт, вс) '2'
        </i></h4>
        <h4><i>-
            Каждые три дня (пн, чт, вс) '3'
        </i></h4>
        <h4><i>-
            Еженедельно (сб) '7'
        </i></h4>
        <a class="high-text" href="https://t.me/Alexandr_habit_bot" target="_blank">
            * Зарегистрируйте
            телеграм-бот где будут присылаться уведомления на созданные вами привычки
        </a>
        <h4><i>
            Нажмите /start
        </i></h4>
        <h4><i>
            * При регистрации аккаунта на сайте укажите свой телеграм id.
        </i></h4>
        <a class="high-text" href="https://t.me/getmyid_bot" target="_blank">
            * Свой id можно узнать при помощи
            этого телеграм бота (Меню -> /start)
        </a><br/><br/>


        <div class=start-text><img src={% static "images/foto_habit2.jpg" %}
                                           width="400"
                                   height="250"
                                   alt="Изображение"
                                   align="left"
                                   vspace="8"
                                   hspace="5"
                                   class="scale">
            <br/><big>

                <p align="justify"><i><big>Полезная привычка</big>— это само действие, которое вы будете совершать и получать за ее
                выполнение определенное вознаграждение.<br/>
                <big><br/>Например:</big> в качестве полезной привычки вы будете выходить на
                пробежку по утрам. Вашим вознаграждением после пробежки за это будет позволить себе небольшой десерт
                    после завтрака. <br/></i></big><br/>

        </div>
    </div><br/><br/>
{% endblock %}