{% load static %}
    <footer class="pt-4 my-md-5 pt-md-5 border-top">
        <div class="row">
            <div class="col-12 col-md">
                Трекер полезных привычек
                <small class="d-block mb-3 text-muted">&copy; 2024</small>
            </div>
            <div class="col-6 col-sm-auto">
                <h5 class="text-end">Категории</h5>
                <ul class="list-unstyled text-end">
                    <li><a class="text-muted" href="https://t.me/Alexandr_habit_bot">Телеграм бот</a></li>
                    <li><a class="text-muted"
                           href="https://trends.rbc.ru/trends/social/62ebf92d9a7947dc0a62e727">Как привычки помогают
                        жить и зачем создавать новые
                    </a>
                    </li>
                    <li><a class="text-muted" href="https://trends.rbc.ru/trends/social/636e40469a79470a18d08ed1">
                        Что такое трекер привычек и как с помощью него тренировать силу воли</a>
                    </li>
{#                    <li><a class="text-muted" href="http://127.0.0.1:8000/redoc/">#}
{#                        Документация REST API</a>#}
{#                    </li>#}
                </ul>
            </div>
        </div>
    </footer>
{#</div>#}